<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297262184467-f14j75dtj8gfn35fabhnnua04jvtrf3a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297262184467-f14j75dtj8gfn35fabhnnua04jvtrf3a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>297262184467-ghe5glg03u8e5slfd82gb8h57okkduju.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSpenr4K4h8zHvNGj5cEP85jT3_kiOc28</string>
	<key>GCM_SENDER_ID</key>
	<string>297262184467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.delivery.deliveryApps</string>
	<key>PROJECT_ID</key>
	<string>delivery-dev-ff0c3</string>
	<key>STORAGE_BUCKET</key>
	<string>delivery-dev-ff0c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297262184467:ios:77959e7ba3fa0b41e1e7e6</string>
</dict>
</plist>